a.btn {
    color: white;
    /* font-size: 14px; */
    display: inline-block;
    font-weight: 300;
    width: 90px;
    border: 1px solid #fff;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: blink;
    /* height: 140px; */
}

a.btn:hover {
    color: #ff5548 !important;
    border-color: #ff5548 !important;
}
a.btn.black {
    color: #3a3a3a;
    border-color: #969696;
    margin: 0;
}