.EditProject {
    height: 100%;
}
.project_wrap #projectTree,.module_wrap #moduleTree {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #ffffff;
    /* padding: 20px; */
    min-height: 250px;
    border: 1px solid #ddd;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
}
.module_wrap {
    float: left;
    height: 30%;
    width: 80%;
    float: left;
    background-color: #f7f7f7;
    /* overflow: hidden; */
}

.project_wrap {
    height: 70%;
    width: 80%;
    float: left;
    background-color: #d6f2ff;
    /* overflow: hidden; */
}

.preConfig_wrap {
    width: 20%;
    float: right;
    height: 100%;
    background-color: #607D8B;
    overflow: auto;
}
.preConfig_wrap {}

.preConfig_wrap li {
    color: white;
    text-align: center;
    line-height: 35px;
    border: 1px solid #ddd;
    margin-top: -1px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 0;
}

.preConfig_wrap li:hover {
    background-color: #7995a2;
}

.blockList_wrap {
    float: left;
    /* margin-left: 22%; */
    width: 80%;
    overflow: auto;
    height: 100%;
    background-color: #fffdec;
}

.cell {
    float: left;
    width: 45%;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.cell .codeblock {
    border: 1px solid #ddd;
    display: block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.textarea_wrap {
    float: left;
    width: 80%;
    height: 100%;
    background-color: aliceblue;
}
.preConfig_wrap ul {
    margin-bottom: 40px;
}

.preConfig_wrap ul {
    background-color: #286d8a;
}
.preConfig_wrap ul.temp_config {
    background-color: #6f5a61;
    margin-top: 40px;
}